<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <!--如果修改数据库，需修改DBConnString的connectionString、providerName，并修改数据库类型DBTYPE-->
    <!--<add name="DBConnString" providerName="microsoft.jet.oledb.4.0;" connectionString="provider = microsoft.jet.oledb.4.0; data source = D:\c#_workspace\DAL\DAL\meeting.mdb;" />-->
    <add name="DBConnString" connectionString="Data Source=127.0.0.1;User ID=root;Password=mysql.5g5a5n;DataBase=testdal;Charset=gb2312;" providerName="MySql.Data.MySqlClient" />
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-testMysql-20161105100500;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-testMysql-20161105100500.mdf" />
  </connectionStrings>
  <appSettings>
    <add key="DBTYPE" value="1" />
    <!--数据库类型：access：0，mysql：1-->
  </appSettings>
   
    
</configuration>